@{
    ViewData["Title"] = "Suggestion Submitted";
}

<h1 class="display-3">Thank you for your suggestion!</h1>
<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Suggest">Suggest Another Film</a>
